
<!DOCTYPE html>
<html>
    <head>
        <title>
            <?php print Lib\Msg::Get('_SITE_TITLE_','CMS') ?>
        </title>
        <meta charset="utf-8">
        <base href="<?php if (dirname($_SERVER['SCRIPT_NAME']) == '/') print '/'; else print dirname($_SERVER['SCRIPT_NAME']);  ?>">
        <link rel="stylesheet" type="text/css" href="<?php print Config\StyleConfig::StyleFolder ?>/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="<?php print Config\StyleConfig::StyleFolder ?>/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" type="text/css" href="<?php print Config\StyleConfig::StyleFolder ?>/css/custom.min.css">
        <link rel="stylesheet" type="text/css" href="<?php print Config\StyleConfig::StyleFolder ?>/css/treeview.css">

        <script src="//cdn.ckeditor.com/4.5.11/full/ckeditor.js"></script>
        <script src="<?php print Config\StyleConfig::StyleFolder ?>/js/jquery.js"></script>
        <script src="<?php print Config\StyleConfig::StyleFolder ?>/js/upload.js"></script>
        <script src="<?php print Config\StyleConfig::StyleFolder ?>/js/bootstrap.min.js"></script>
        <script src="<?php print Config\StyleConfig::StyleFolder ?>/js/bootstrap-switch.js"></script>
        <script src="<?php print Config\StyleConfig::StyleFolder ?>/js/moment-with-locales.js"></script> <!-- do kalendarza -->
        <script src="<?php print Config\StyleConfig::StyleFolder ?>/js/bootstrap-datetimepicker.js"></script> <!-- do kalendarza -->
        <script src="<?php print Config\StyleConfig::StyleFolder ?>/js/jquery.popupWindow.js"></script><!-- popup window do elfindera -->
        <script src="<?php print Config\StyleConfig::StyleFolder ?>/js/functions.js"></script><!-- funkcje potrzebne stronie -->
        
        <!-- włącz popower -->
        <script>
            $(function ()
            {
                $('[data-toggle="popover"]').popover()
            });
            /*
             *api pobiera style bootstrapa
             $.getJSON("https://bootswatch.com/api/3.json", function (data)
             {
             var themes = data.themes;
             var select = $("#selet");
             select.show();
             
             $(".alert").toggleClass("alert-info alert-success");
             $(".alert h4").text("Success!");
             
             themes.forEach(function(value, index)
             {
             select.append($("<option />")
             .val(index)
             .text(value.name));
             });
             
             select.change(function()
             {
             var theme = themes[$(this).val()];
             $("link").attr("href", theme.css);
             $("h1").text(theme.name); 
             }).change();
             
             }, "json").fail(function()
             {
             $(".alert").toggleClass("alert-info alert-danger");
             $(".alert h4").text("Failure!");
             });
             */
        </script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

    </head>

    <body>
        <?php
        $this->RenderMaintenance(); 
        if(Config\SmtpConfig::SmtpNotConfigured)
        {
        $this->RenderError(Lib\Msg::Get('_SMTP_NOT_CONFIGURED_','Smtp not configured'));
        }
        ?>
        <!-- <div class="alert alert-danger"><?php /* print $this->GetDiskFreeSpace(); */?></div> -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><!-- <img src="/admin/style/<?php print STYLE ?>/img/logo-admin.png">-->
                        <?php print Lib\Msg::Get('_SITE_TITLE_','CMS') ?></a>

                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                    
                        <?php $this->RenderMenu('menu',' class="nav navbar-nav navbar-right1"','class="dropdown"','class="dropdown-toggle" data-toggle="dropdown" role="button"','class="dropdown-menu"'); ?>

                        <?php $this->include('menu.html'); ?>
                        <form class="navbar-form navbar-right" method="POST">
                            <div class="form-group">
                                <?php
                                $lang = new Model\Lang\langItems();
                                $this->RenderLanguages($lang->getAll()); ?>
                            </div>
                        </form>

                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <!--
            <div class="alert alert-info">
                    <?php //print Session::GetBusiness()->name; ?>
                    <br>
                    <?php //print Session::GetBusiness()->domain; ?>
            </div>
            -->
