

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
          
<table>
 <ul class="treeview">
                <li><a href="#">Tree</a>
                	<ul>
            			<li><a href="#">Branch</a></li>
            			<li><a href="#">Branch</a>
            				<ul>
            					<li><a href="#">Stick</a></li>
            					<li><a href="#">Stick</a></li>
            					<li><a href="#">Stick</a>
            						<ul>
            							<li><a href="#">Twig</a></li>
            							<li><a href="#">Twig</a></li>
            							<li><a href="#">Twig</a></li>
            							<li><a href="#">Twig</a>
            								<ul>
            									<li><a href="#">Leaf1</a></li>
            									<li><a href="#">Leaf</a></li>
            								</ul>
            							</li>
            							<li><a href="#">Twig</a></li>
            							<li><a href="#">Twig</a></li>
            						</ul>
            					</li>
            					<li><a href="#">Stick</a></li>
            				</ul>
            			</li>
            			<li><a href="#">Branch</a></li>
            			<li><a href="#">Branch</a></li>
            		</ul>
            	</li>
            </ul>
</table>
        </div>
    </div>
</div>
