<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form method="POST">
            <fieldset>
                <legend><?php print $this->ViewTitle ?> - <?php print $this->Title->Value ?> </legend>
                
                 <a href="<?php print $this->CtrlName ?>"  class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"> </span> </a>
               
                <div class="form-group pull-right">
                    <input type="hidden" name="<?php print ID ?>" value="<?php print $this->IdPlace->Value ?>">
                    <input type="hidden" name="<?php print METHOD ?>" value="<?php print METHOD_SAVE ?>">
                    <button type="submit" class="btn btn-primary"><?php print Msg::Get('_SAVE_','Save') ?></button>
                    <a href="<?php print $this->CtrlName ?>" class="btn btn-default"><?php print Msg::Get('_CANCEL_','Cancel') ?></a>
                </div>
                <hr>
                <div class="col-md-6">
                    
                    <div class="form-group">
                        <label class="control-label"><?php print Msg::Get('_LON_','Lon') ?></label>
                        <input id="lon" type="text" class="form-control" placeholder="<?php print Msg::Get('_LON_','Lon') ?>" name="<?php print PLACE_LON ?>" value="<?php print $this->Lon->Value ?>">
                        <?php print $this->RenderValidationError($this->Title->ErrorText); ?>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label"><?php print Msg::Get('_LAT_','Lat') ?></label>
                        <input id="lat" type="text" class="form-control" placeholder="<?php print Msg::Get('_LAT_','Lat') ?>" name="<?php print PLACE_LAT ?>" value="<?php print $this->Lat->Value ?>">
                        <?php print $this->RenderValidationError($this->Title->ErrorText); ?>
                    </div>
                    
                     <ul class="nav nav-tabs">
                        <li class="active" role="presentation"><a data-toggle="pill" href="#page1"><?php print Msg::Get('_TITLE_','Title') ?></a></li>
                        <li role="presentation"><a data-toggle="pill" href="#page2"><?php print Msg::Get('_TEXT_','Text') ?></a></li>
                    </ul>
                
                <div class="tab-content">
                <div id="page1" class="tab-pane fade in active">
                    
                    <div class="form-group">
                        <label class="control-label"><?php print Msg::Get('_TITLE_','Title') ?></label>
                        <textarea class="form-control" name="<?php print PLACE_TITLE ?>" rows="10"><?php print $this->Title->Value ?></textarea>
                        <?php print $this->RenderValidationError($this->Title->ErrorText); ?>
                    </div>
                </div>  
                <div id="page2" class="tab-pane fade">
                    <div class="form-group">
                        <label class="control-label"><?php print Msg::Get('_TEXT_','Text') ?></label>
                        <textarea id="text" class="form-control" name="<?php print PLACE_TEXT ?>" rows="10"><?php print $this->Text->Value ?></textarea>
                        <?php print $this->RenderValidationError($this->Text->ErrorText); ?>
                    </div>
                </div>
                </div>
                                    
                    
                    
                    
                    <input id="zoom" type="hidden" name="<?php print PLACE_ZOOM ?>" value="<?php print $this->Zoom->Value ?>">
                </div>
            
            <div class="col-md-6">
                 <div id="map" style="width:100%; height:360px;margin-top:12px;"></div>
            </div>
               
            </fieldset>
        </form>
    </div>
</div>
<script src="http://maps.google.com/maps/api/js?key=AIzaSyAtyXbZQiMV2BFDdztVuCZPfzN_rijV4_U&callback=init" async defer></script>
<script>
    
    function init()
    {
        var lon = document.getElementById('lon').value;
        var lat = document.getElementById('lat').value;
        var latlng = new google.maps.LatLng(lat, lon);
        var zoom = parseInt(document.getElementById('zoom').value);
        var myOptions =
        {
            zoom: zoom,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        
        map = new google.maps.Map(document.getElementById("map"),myOptions);
        geocoder = new google.maps.Geocoder();
        
        marker = new google.maps.Marker
        ({
            position: latlng,
            map: map
        });
        
        /*infowindow*/
        infowindow = new google.maps.InfoWindow();
        
        google.maps.event.addListener(marker, 'click', function()
        {
            var title = document.getElementById('title').value;
            var text = document.getElementById('text').value;
            infowindow.setContent('<h1>'+title+'</h1>' + '<br>' + text );
            infowindow.open(map, marker);
        });
        
        /*
            map.setZoom(); 
            map.panTo(curmarker.position);
        */
        
        google.maps.event.addListener(map, 'click', function(event)
        {
            marker.setPosition(event.latLng);

            var yeri = event.latLng;
            var latlongi = "(" + yeri.lat().toFixed(6) + " , " + yeri.lng().toFixed(6) + ")";
               
            document.getElementById('lat').value = yeri.lat().toFixed(6);
            document.getElementById('lon').value = yeri.lng().toFixed(6);
            document.getElementById('zoom').value = map.zoom;
        });

    }

</script>