<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <a href="<?php print $this->CtrlName ?>"  class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"> </span> </a>
        <hr>
        <form method="POST">
            <fieldset>
                <legend><?php print $this->ViewTitle  ?></legend>
                <?php $this->RenderAsSelect($this->Statuses,$this->Active->Value ,Msg::Get('_ACTIVE_','Active'),USER_STATUS) ?>
                <div class="form-group">
                    <label class="control-label"><?php print Msg::Get('_NAME_','Name') ?></label>
                    <input type="text" class="form-control" placeholder="<?php print Msg::Get('_NAME_','Name') ?>" name="<?php print TASK_NAME ?>" value="<?php print $this->Name->Value ?>">
                    <?php print $this->RenderValidationError($this->Name->ErrorText); ?>
                </div>

                <div class="form-group">
                        <label class="control-label"><?php print Msg::Get('_TEXT_','Text') ?></label>
                        <textarea class="form-control" name="<?php print TASK_TEXT ?>" rows="20" ><?php print $this->Text->Value ?></textarea>                            
                        <?php print $this->RenderValidationError($this->Text->ErrorText); ?>
                    </div>
                <!--
                <div class="form-group">
                    <label class="control-label"><?php print Msg::Get('_DESCRIPTION_','Description') ?></label>
                    <textarea class="form-control" name="<?php print BLOCK_DESCRIPTION ?>" rows="10"><?php print $this->Description->Value ?></textarea>
                    <?php print $this->RenderValidationError($this->Description->ErrorText); ?>
                </div>
                -->
                <div class="form-group">
                    <input type="hidden" name="<?php print IDTASK ?>" value="<?php print $this->IdTask->Value ?>">
                    <input type="hidden" name="<?php print METHOD ?>" value="<?php print METHOD_SAVE ?>">
                    <button type="submit" class="btn btn-primary"><?php print Msg::Get('_SAVE_','Save') ?></button>
                    <a href="<?php print $this->CtrlName ?>" class="btn btn-default"><?php print Msg::Get('_CANCEL_','Cancel') ?></a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
